<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.AddressMapper">
	<resultMap type="Address" id="AddressResult">
		<result property="zipCode" column="zipcode"/>
		<result property="sido" column="sido"/>
		<result property="sigungu" column="sigungu"/>
		<result property="doro" column="doro"/>
		<result property="building1" column="building1"/>
		<result property="building2" column="building2"/>
	</resultMap>
	
	<sql id="selectSql">
		SELECT zipcode, sido, sigungu, doro, building1, building2
		FROM post 
	
	</sql>
	
	<select id="serchSido" resultMap="AddressResult" parameterType="Address">
		<include refid="selectSql"/>
			where sido = #{sido} and doro = #{doro}
	</select>
</mapper>