<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.CategoryMapper">
	<resultMap type="Category" id="CategoryResult">
		<id property="groupCode" column="group_code"/>
		<result property="groupName" column="group_name"/>
	</resultMap>
</mapper>