<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.ClientMapper">
	
	<!-- 등록된 거래회사 전체목록 -->
	<sql id="selectSql">
		select c.clnt_code, c.clnt_name, a.sido, a.sigungu, a.doro, c.clnt_tel, c.clnt_isExist
		from client c inner join clntaddress a on c.clnt_code = a.clnt_code
	</sql>
	
	<sql id="whereSql">
		where clnt_code = #{clntCode}
	</sql>
	
	<!-- Client와 Client안에 있는 Address클래스를 resultMap으로 가져옴(상속 이용) -->
	<resultMap type="Client" id="ClientResult">
		<result property="clntCode" column="clnt_code"/>
		<result property="clntName" column="clnt_name"/>
		<result property="clntAddr" column="clnt_addr"/>
		<result property="clntTel" column="clnt_tel"/>
		<result property="clntIsExist" column="clnt_isexist"/>
	</resultMap>
	
	<!-- 등록된 거래회사 전체목록 -->
	<select id="selectAllClnt" resultMap="ClientResult">
		<include refid="selectSql"/>
	</select>

	<!-- 거래회사번호당 목록 -->
	<select id="selectByNoClnt" parameterType="Client" resultMap="ClientResult">
		<include refid="selectSql"/>
		where c.clnt_code = #{clntCode}
	</select>
	
	<!-- 거래회사등록 -->
	<insert id="insertRowClnt" parameterType="Client">
		INSERT INTO client VALUES (#{clntCode},#{clntName},#{clntAddr},#{clntTel},#{clntIsExist})
	</insert>
	
	<!-- 거래회사수정  -->
	<update id="updateRowClnt" parameterType="Client">
		UPDATE client
		<set>
			<if test="clntCode != null">clnt_code=#{clntCode},</if>
			<if test="clntAddr !=null">clnt_addr=#{clntAddr}</if>
			<if test="clntName != null">clnt_name=#{clntName},</if>
			<if test="clntTel != null">clnt_tel=#{clntTel},</if>
			<if test="clntIsExist != null">clnt_isExist=#{clntIsExist},</if>
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 탈퇴한 거래회사 -->
	<update id="existClnt" parameterType="Client">
		UPDATE client SET clnt_isExist=FALSE WHERE clnt_code=#{clntCode}
	</update>

</mapper>