<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.sw_project.dao.ClientMapper">

	<resultMap type="Client" id="ClientResult">
		<id property="clntCode" column="clnt_code"/>
		<result property="clntName" column="clnt_name"/>
		<result property="clntTel" column="clnt_tel"/>
		<result property="clntAddr" column="clnt_addr"/>
		<result property="clntIsExist" column="clnt_isExist"/>
	</resultMap>
	 
	<!-- Select SQL -->
    <sql id="selectSQL">
		SELECT clnt_code, clnt_name, clnt_addr, clnt_tel, clnt_isExist 
			FROM client
	</sql>

	<!-- Where SQL -->
	<sql id="whereSQL">
		<where>
			<if test="clntCode != null">
				clnt_code=#{clntCode}
			</if>
		</where>
	</sql>
	    
    <!-- Select By All --> 
    <select id="selectClientByAll" resultMap="ClientResult">
    	<include refid="selectSQL" />
    	ORDER BY clnt_code
    </select>
    
    <!-- Select By No-->
    <select id="selectByNoClnt" parameterType="Client" resultMap="ClientResult">
		<include refid="selectSQL"/>
		<include refid="whereSQL"></include>
	</select>
	
	<!-- insert item -->
	<insert id="insetClntItem" parameterType="Client">
		INSERT INTO client(clnt_code,clnt_name,clnt_tel,clnt_addr,clnt_isExist) 
		VALUES (#{clntCode},#{clntName},#{clntTel},#{clntAddr},true)
	</insert>
	
	<!-- update item -->
	<update id="updateClntItem" parameterType="Client">
		UPDATE client
		<set>
			<if test="clntCode != null">clnt_code=#{clntCode},</if>
			<if test="clntName != null">clnt_name=#{clntName},</if>
			<if test="clntAddr != null">clnt_addr=#{clntAddr},</if>
			<if test="clntTel != null">clnt_tel=#{clntTel},</if>
			<if test="clntIsExist != null">clnt_isExist=true</if>
		</set>
		<include refid="whereSQL"/>
	</update>
	
	<!-- Not Exist item -->
	<update id="existClntItem" parameterType="Client">
		UPDATE client SET clnt_isExist=FALSE WHERE clnt_code=#{clntCode}
	</update>
</mapper>

