<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.sw_project.dao.JoinFromSoftwareMapper">
   
	<resultMap type="JoinFromSoftware" id="JoinFromSoftwareResult">
       	<association property="software" resultMap="kr.or.dgit.sw_project.dao.SoftwareMapper.SoftwareResult"/>
    	<association property="supplyCompany" resultMap="kr.or.dgit.sw_project.dao.SupplyCompMapper.SupplyCompanyResult"/>
    	<association property="client" resultMap="kr.or.dgit.sw_project.dao.ClientMapper.ClientResult"/>
    	<association property="category" resultMap="kr.or.dgit.sw_project.dao.CategoryMapper.CategoryResult"/>
    	<association property="saleDetail" resultMap="kr.or.dgit.sw_project.dao.SaleDetailMapper.SaleDetailResult"/>
    	<association property="delivery" resultMap="kr.or.dgit.sw_project.dao.DeliveryMapper.DeliveryResult"/>
    	<association property="sale" resultMap="kr.or.dgit.sw_project.dao.SaleMapper.SaleResult" />
    </resultMap>
    
	<!-- Select SQL -->
    <sql id="selectSQL">
		SELECT * FROM software sw
				LEFT OUTER JOIN delivery del ON sw.sw_code = del.sw_code
				LEFT OUTER JOIN supply_company sc ON sc.comp_code = del.comp_code
				LEFT OUTER JOIN category cat ON sw.group_code = cat.group_code
				LEFT OUTER JOIN sale s ON sw.sw_code = s.sw_code
				LEFT OUTER JOIN view_sale_detail sd ON s.sale_code = sd.sale_code
				LEFT OUTER JOIN client cl ON cl.clnt_code = s.clnt_code
	</sql>

    <!-- Select By All --> 
    <select id="selectJoinFromSoftwareByAll" resultMap="JoinFromSoftwareResult">
    		SELECT * FROM software sw
				  left outer JOIN category cat ON sw.group_code = cat.group_code
				  left outer JOIN sale s ON sw.sw_code = s.sw_code
				  left outer JOIN client cl ON cl.clnt_code = s.clnt_code
				  group by sw.sw_code;
    </select>
    
    <select id="selectJoinFromSoftwareByAllOrderByClntName" resultMap="JoinFromSoftwareResult">
	SELECT * FROM software sw
				JOIN delivery del ON sw.sw_code = del.sw_code
				JOIN supply_company sc ON sc.comp_code = del.comp_code
				JOIN category cat ON sw.group_code = cat.group_code
				JOIN sale s ON sw.sw_code = s.sw_code
				JOIN view_sale_detail sd ON s.sale_code = sd.sale_code
				JOIN client cl ON cl.clnt_code = s.clnt_code
			ORDER BY comp_name;
    </select>
    
    <select id="selectJoinFromSoftwareByCode" resultMap="JoinFromSoftwareResult">
    	<include refid="selectSQL" />
		WHERE sw.sw_code = #{swCode} 
		group by sw.sw_code
    </select>
    
</mapper>


