<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.JoinDataMapper">
	<resultMap type="JoinData" id="JoinResult">
		<association property="category" resultMap="kr.or.dgit.sw_project.dao.CategoryMapper.CategoryResult" />
		<association property="client"	 resultMap="kr.or.dgit.sw_project.dao.ClientMapper.ClientResult" />
		<association property="delivey"	 resultMap="kr.or.dgit.sw_project.dao.DeliveryMapper.DeliveryResult" />
		<association property="sale"	 resultMap="kr.or.dgit.sw_project.dao.SaleMapper.saleWithSaleDetailResult" />
		<association property="software" resultMap="kr.or.dgit.sw_project.dao.SoftwareMapper.SoftwareResult" />
		<association property="supplyCompany" resultMap="kr.or.dgit.sw_project.dao.SupplyCompanyMapper.SupplyCompanyResult" />
	</resultMap>

	<resultMap type="JoinData" id="softwareFindResult">
		<result property="sale.saleCode" column="sale_code"/>
		<result property="software.swCode" column="sw_code" />
		<result property="software.swName" column="sw_name" />
		<result property="category.groupName" column="group_name" />
		<result property="supplyCompany.compName" column="comp_name" />
		<result property="saleDetail.totalSupplyPrice" column="total_supply_price" />
		<result property="saleDetail.totalSalePrice" column="total_price" />
		<result property="saleDetail.margin" column="margin" />
	</resultMap>

	<resultMap type="JoinData" id="clinetSoftFindResult">
		<result property="client.clntName" column="clnt_name" />
		<result property="software.swName" column="sw_name" />
		<result property="sale.saleAmount" column="sale_amount" />
		<result property="sale.isDeposit" column="isdeposit" />
		<result property="sale.salePrice" column="sale_price" />
		<result property="saleDetail.totalSalePrice" column="total_price" />
		<result property="saleDetail.receivablePrice" column="receivablePrice" />
	</resultMap>
	
	<resultMap type="JoinData" id="daySoftwareSaleReportRestlt">
		<result property="sale.orderDate" column="order_date" />
		<result property="sale.saleCode" column="sale_code" />
		<result property="client.clntName" column="clnt_name" />
		<result property="software.swName" column="sw_name" />
		<result property="sale.saleAmount" column="sale_amount" />
		<result property="sale.isDeposit" column="isdeposit" />
	</resultMap>
	
	<resultMap type="JoinData" id="categorySaleReportResult">
		<result property="category.groupCode" column="group_code" />
		<result property="category.groupName" column="group_name" />
		<result property="saleDetail.sum_price" column="c_salePrice" />
		<result property="saleDetail.sum_amount" column="c_amount" />
	</resultMap>
	
	<resultMap type="JoinData" id="viewBillListResult">
		<result property="sale.saleCode" column="sale_code" />
		<result property="supplyCompany.compName" column="comp_name" />
		<result property="sale.orderDate" column="order_date" />
		<result property="client.clntName" column="clnt_name" />
		<result property="software.swName" column="sw_name" />
		<result property="sale.salePrice" column="sale_price" />
		<result property="sale.saleAmount" column="sale_amount" />
		<result property="saleDetail.totalSalePrice" column="total_sale_price" />
		<result property="saleDetail.tax" column="tax" />
		<result property="saleDetail.taxSaleprice" column="tax_saleprice" />
	</resultMap>
	<resultMap type="JoinData" id="clinetsaleGraphResult">
		<result property="client.clntName" column="sale_code" />
		<result property="saleDetail.sum_amount" column="comp_name" />
	</resultMap>
	
	<select id="clinetsaleGraph" resultMap="clinetsaleGraphResult">
		 select clnt_name,`SUM(sale_amount)` from view_sale_graph;
	</select>
	
	<select id="viewBillList" resultMap="viewBillListResult">
		select sale_code,comp_name,order_date,clnt_name,sw_name,sale_price,sale_amount,total_sale_price,tax,tax_saleprice  from view_bill_list;
	</select>
	
	
	<select id="categorySaleReport" parameterType="Category" resultMap="categorySaleReportResult">
		select group_code,group_name,c_salePrice,c_amount from view_sale_by_category 
		<where>
			<if test="groupCode != null">group_code=#{groupCode}</if>
		</where>
	</select>
	


	<select id="clinetSoftReport" resultMap="clinetSoftFindResult" parameterType="Client">
		select clnt_name, sw_name, sale_amount,isdeposit, sale_price,total_sale_price,receivablePrice
		from view_client_sale 
		<where>
			<if test="clntCode != null">clnt_code=#{clntCode}</if>
		</where>
		
	</select>

	<select id="softwareSaleReport" resultMap="softwareFindResult" parameterType="Software">
		select sale_code,sw_code,sw_name,group_name,comp_name,total_supply_price,total_price,margin 
		from view_sw_sale 
		<where>
				<if test="swCode != null">sw_code=#{swCode}</if>
		</where>
		 order by sale_code;
	</select>




</mapper>