<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.SaleDetailMapper">
	<resultMap type="SaleDetail" id="SaleDetailResult">
		<result property="totalSalePrice" column="total_sale_price"/>
		<result property="totalSupplyPrice" column="total_supply_price"/>
		<result property="margin" column="margin"/>
		<result property="tax" column="tex"/>
		<result property="taxSaleprice" column="tex_saleprice"/>
		<result property="receivablePrice" column="receivablePrice"/>
	</resultMap>
</mapper>