<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.sw_project.dao.SaleMapper">

	<resultMap type="Sale" id="SaleResult">
		<id property="saleCode" column="sale_code"/>
		<result property="saleAmount" column="sale_amount"/>
		<result property="isDeposit" column="isdeposit"/>
		<result property="orderDate" column="order_date"/>
		<result property="supplyPrice" column="supply_price"/>
		<result property="salePrice" column="sale_price"/>
		<result property="saleIsExist" column="sale_isExist"/>
		<association property="client" resultMap="kr.or.dgit.sw_project.dao.ClientMapper.ClientResult"/>
		<association property="software" resultMap="kr.or.dgit.sw_project.dao.SoftwareMapper.SoftwareResult"/>
		<association property="saleDetail" resultMap="kr.or.dgit.sw_project.dao.SaleDetailMapper.SaleDetailResult"/>
	</resultMap>
	 
	<!-- Select SQL -->
    <sql id="selectSQL">
	SELECT * FROM sale s
			JOIN software sw ON s.sw_code = sw.sw_code
			JOIN client cl ON cl.clnt_code = s.clnt_code
			JOIN category cat ON sw.group_code = cat.group_code
			JOIN view_sale_detail sd ON s.sale_code = sd.sale_code	
	</sql>

	<!-- Where SQL -->
	<sql id="whereSQL">
		<where>
			<if test="saleCode != null">
			</if>
		</where>
	</sql>
	    
    <!-- Select By All --> 
    <select id="selectSaleByAll" resultMap="SaleResult">
    	<include refid="selectSQL" />
    </select>
    
     <!-- Select By No --> 
    <select id="selectSaleByNo" resultMap="SaleResult">
    	<include refid="selectSQL" />
    	<include refid="whereSQL"/>
    </select>
    
    <!-- Insert Item -->
    <insert id="insertSaleItem" parameterType="Sale">
    	INSERT INTO sale(sale_code, clnt_code, sw_code, sale_amount, isdeposit, order_date, supply_price, sale_price, sale_isExist) VALUES  
	    (#{saleCode},#{client.clntCode},#{software.swCode},#{saleAmount}, #{isDeposit}, #{orderDate}, #{supplyPrice}  , #{salePrice},   TRUE);
    </insert>
    
    <!-- Update Item -->
    
    <update id="updateSaleItem" parameterType="Sale">
    	UPDATE sale
		SET sale_code=#{saleCode},clnt_code=#{clntCode}, sw_code=#{swCode}, sale_amount=#{saleAmount}, isdeposit=#{isDeposit}, 
		order_date=#{orderDate}, supply_price=#{supplyPrice}, sale_price=#{salePrice}, sale_isExist=#{saleIsExist}
		WHERE sale_code=#{saleCode};
     </update>
     
     <!-- Exist item -->
     <update id="existSaleItem" parameterType="Sale">
     	UPDATE sale
		SET sale_isExist=false
		WHERE sale_code=#{saleCode};
     </update>
     
     <!-- isDeosit -->
      <update id="updateIsdeposit" parameterType="Sale">
    	UPDATE sale
		SET isdeposit=#{isDeposit}
		WHERE sale_code=#{saleCode};
     </update>
</mapper>

