<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.ViewClientSaleMapper">
	<resultMap type="ViewClientSale" id="ViewClintSaleResult">
		<association property="client"	resultMap="kr.or.dgit.sw_project.dao.ClientMapper.ClientResult" />
		<association property="sale"	resultMap="kr.or.dgit.sw_project.dao.SaleMapper.SaleResult" />
		<association property="software"	resultMap="kr.or.dgit.sw_project.dao.SoftwareMapper.SoftwareResult" />
	</resultMap>
	<sql id="selectSql">
		select * from view_sale_by_client
	</sql>
	<sql id="whereSql">
		<where>
			<if test="clntName != null">
				clnt_name=#{clntName}
			</if>
		</where>
	</sql>
	<select id="selectViewClientSaleAll" resultMap="ViewClintSaleResult" >
		<include refid="selectSql"/>
	</select>
	
	<select id="selectViewClientSaleClntName" parameterType="ViewClientSale" resultMap="ViewClintSaleResult" >
		<include refid="selectSql"/>
		where clnt_name=#{client.clntName}
		order by clnt_code
	</select>
</mapper>