<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.ViewSofrwareSaleMapper">
	<resultMap type="ViewSofrwareSale" id="ViewSofrwareSaleResult">
		<association property="category" resultMap="kr.or.dgit.sw_project.dao.CategoryMapper.CategoryResult"/>
		<association property="software" resultMap="kr.or.dgit.sw_project.dao.SoftwareMapper.SoftwareResult"/>
		<association property="sale" resultMap="kr.or.dgit.sw_project.dao.SaleMapper.SaleResult"/>
		<association property="supplyCompany" resultMap="kr.or.dgit.sw_project.dao.SupplyCompMapper.SupplyCompanyResult"/>
	</resultMap>
	
	<sql id="selectSql">
		select sale_code,sw_code,sw_name, group_name , comp_name,sale_isExist,	 total_supply_price,sale_isExist,  
		total_sale_price, margin from view_sale_by_software	
		group by sale_code
	</sql>	
	<sql id="whereSql">
		<where>
			<if test="swName != null">
				sw_name=#{swName}
			</if>
		</where>
	</sql>
	
	<select id="selectViewSofrwareSaleAll"  resultMap="ViewSofrwareSaleResult">
		<include refid="selectSql"/>
	</select>
	
	<select id="selectViewsoftwareSaleBySwName" parameterType="ViewSofrwareSale" resultMap="ViewSofrwareSaleResult">
		select sale_code,sw_code,sw_name, group_name , comp_name,sale_isExist,	 total_supply_price,	  sale_isExist,
		total_sale_price, margin from view_sale_by_software	
		where sw_name=#{software.swName}
		group by sale_code
	</select>
</mapper>