<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.sw_project.dao.ViewOrderDateSaleMapper">
	<resultMap type="ViewOrderDateSale" id="ViewOrderDateSaleResult">
		<association property="sale" resultMap="kr.or.dgit.sw_project.dao.SaleMapper.SaleResult"/>
		<association property="client" resultMap="kr.or.dgit.sw_project.dao.ClientMapper.ClientResult"/>
		<association property="software" resultMap="kr.or.dgit.sw_project.dao.SoftwareMapper.SoftwareResult"/>
	</resultMap>
	
	<sql id="selectSql">
		 select order_date, sale_code, clnt_code,clnt_name, sw_code, sw_name ,sale_price, sale_amount, isdeposit, total_sale_price,sale_isExist from view_sale_by_orderdate
	</sql>
	
	<select id="selectViewOrderDateAll" resultMap="ViewOrderDateSaleResult">
		<include refid="selectSql"/>
	ORDER BY order_date desc;
	</select>
	
	<select id="selectViewOrderDateSale" parameterType="map" resultMap="ViewOrderDateSaleResult">
		<include refid="selectSql"/>
	WHERE order_date BETWEEN  #{startDate} AND #{endDate} 
	ORDER BY order_date desc;
	</select>
</mapper>
	
